
body{
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}  
.container{
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgpa(0,0,0,0.1)
}  
h1{ 
    text-align: center;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus {
    outline: 2px solid #007bff;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #0056b3;   
}
button:focus{
    outline: 2px solid black;
}